/* haha well this is still ridiculously uglly. Still all in progress. Hopefully something
	good starts coming together */

@font-face {
	font-family: "icomoon";
	src:url(../fonts/icomoon.eot);
	src:url(../fonts/icomoon.svg#icomoon) format('svg'),
		url(../fonts/icomoon.eot?#iefix) format('embedded-opentype'),
		url(../fonts/icomoon.woff) format('woff'),
		url(../fonts/icomoon.ttf) format('truetype');
		

	font-weight: normal;
	font-style: normal;
}

* {
	line-height: inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, div, footer, header, hgroup, main
	nav, section, summary {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Walkway SemiBold", sans-serif;
}

span {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 4em;
	display: block;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

body {
	display: block;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-sizing: border-box;
	font-family: "Cabin", sans-serif;
	font-size: 16px;
	color: #333;
	background-attachment: fixed;
}

.index {
	margin: 0;
	padding: 0;
}

img {
	vertical-align: middle;
	border: 0;
}

form {
	display: block;
	margin: 0em;
}

label {
	cursor: default;
}

p {
	text-align: left;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
	
	.col-sm-12 {
		width: 100%;
	}
	
	.col-sm-8 {
		width: 66.666666666%;
	}
	
	.col-sm-8, .col-sm-12 {
		float: left;
	}
	
	.col-sm-offset-2 {
		margin-left: 16.66666666664%;
	}
	
	.col-sm-offset-1 {
		margin-left: 8.3333333333333%
	}
}

@media (min-width: 992px) {

	.container {
		width: 970px;
	}
	
	.col-md-3, .col-md-4, .col-md-8 {
		float: left;
	}
	
	.col-md-10 {
		width: 83.3333333333333%;
	}

	.col-md-8 {
		width: 66.6666666666666%;
	}

	.col-md-6 {
		width: 50%;
	}
	
	.col-md-4 {
		width: 33.33333333333333%;
	}
	
	.col-md-3 {
		width: 25%;
	}

	.col-md-2 {
		width: 16.666666666666667%;
	}
	
	.col-md-offset-2 {
		margin-left: 16.6666666666664%;
	}
	
	.col-md-offset-1 {
		margin-left: 8.333333333333333%;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.col-sm-8, .col-sm-12, .col-md-2, .col-md-3, .col-md-4, .col-md-6, .col-md-8, .col-md-10 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;

	overflow: hidden;
}

.content-wrap {
	background-color: #FFFFFF;
	margin-bottom: -150px;

	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	color: #333;
}

.main-header {
	display: block;
	padding: 20px 0!important;

	background-color: #FCFCFC;
	background-image: -moz-linear-gradient(top, #ffffff, #f8f8f8);
	background-image: -webkit-linear-gradient(top, #ffffff, #f8f8f8);
	background-image: -o-linear-gradient(top, #ffffff, #f8f8f8);
	background-image: linear-gradient(to bottom, #ffffff, #f8f8f8);
	background-repeat: repeat-x;
}

ul, menu, dir {
	display: block;
	font-family: inherit;
	list-style: none;
	margin: 0;
	padding: 0;	
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

a {
	text-decoration: none;
	background: transparent;
	color: #333;
}

a:-webkit-any-link {
	cursor: auto;
}

table {
	table-layout: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
}

.control {
	overflow: hidden;
}

.main-header nav li {
	float: left;
	list-style-type: none;
	position: relative;
	margin-left: 15px;
	overflow: hidden;

	-webkit-transition: color .4s, background-color .4s, box-shadow ease-in-out .4s;
	transition: color .4s, background-color .4s, box-shadow ease-in-out .4s;
}

.main-header nav li a {
	display: block;
	font-size: 1.25em;	
	padding: 5px;
}

.other-page {	
	-webkit-transition: color .4s;
	transition: color .4s;
}

.other-page a {
	color: #666666;	
}

.current-page {
	color: #FFFFFF;
	background-color: #637C81;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
}

.current-page a {
	color: #FFFFFF;
}

.other-page:hover a {
	color: #637C81;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
	font-weight: 200;	
}

.row:before, .row:after {
	display: table;
	line-height: 0;
	content: "";
}

:before, :after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
}

.row:after {
	clear: both;	
}

tr.row:before, tr.row:after {
	display: none;
}

#logo {
	max-width: 100%;
	max-height: 100%;
}

.hero {
	height: 325px;
	background-image: url(../assets/eng-banner.png);
	border-top: 1px solid #ffffff;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) inset;
	text-align: center;

	display: block;
}

.hero h1 {
	font-size: 5em;
	color: #FFFFFF;
}

#caduceus {
	max-height: 50%;
	max-width: 50%;
	opacity: 0.25;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	clear: right;	
}

.search-form {
	clear: both;	
	position: relative;
	width: 600px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;	
}

.form {
	display: block;
	margin-top: 0em;
}

.search-form input {
	background: #FFFFFF;
	margin: 0;
	border: 0;
	box-shadow: none;
	border-radius: 0;	
}

.search-button {
	border: 0;
	background-color: transparent;
	color: #fff;
	position: absolute;
	right: 6px;
	top: 6px;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	border-radius: 0;
}

.categories {
	background-color: #C8C8C8;	
	padding: 20px 0px;
	border-top: 2px solid #FFFFFF;	
}

.category {
	display: block;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	padding: 5px;
	margin: 0 40px;

	transition: box-shadow ease-in-out .3s;
}

.category:hover {
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) inset;	
}

.category h1 {
	font-size: 2em;
	color: #323232;

	width: 100%;
	float: left;		
	display: block;
	margin: 5px 0px;
}

.category h2 {
	font-size: 1em;
	padding: 5px;
	color: #777;
}

.category h4 {
	font-size: 2.5em;
	position: relative;
	display: block;
	margin: 0;
}

.category p {
	color: #323232;
	display: block;
}

[data-icon]:before {
	font-family: 'icomoon';
	color: #828282;
	content: attr(data-icon);
	speak: none;
}

.icomoon {
	border: 0;
	background-color: transparent;
	color: #fff;
	float: left;
	padding: 4px;
	display: block;
}

.item-list {
	margin-top: 100px;
	margin-bottom: 75px;

	text-align: center;	
}

.item-list h3 {
	font-size: 1.1em;
	color: #424242;
}

.item {
	margin-right: auto;
	margin-left: auto;

	width: 200px;
	height: 200px;
	background-image: url(../assets/bolt.jpg);
	background-size: 200px 200px;
	overflow: hidden;
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0;

	transition: opacity 0.25s ease;
}

.overlay:hover {
	opacity: 0.75;
}

.item-stats {
	padding-top: 35px;
	color: #FFFFFF;
}

.subject {
	color: #858585;
}

.line {
	display: block;
	padding-left: 20px;
	margin-bottom: 5px;

	clear: left;
	float: left;
}

.refine {
	background-color: #2E4174;
	color: #FFFFFF;
	position: relative;

	padding: 35px 0;
}

.refine h3 {
	font-family: "Helvetica";
	color: #FFFFFF;
	font-size: 1.32em;
	margin: 15px 0;
}

.refine p {
	color: #c4c4c4;
	font-size: .8em;
	margin-bottom: 3px;
	margin-left: 8px; 
	margin-top: 0;
}

.endpage {
	margin: 0;
	bottom: 0;	
	display: block;	
	background-color: #2E4174;		
	height: 150px;
	clear: both;

	border-top: 1px solid #FFFFFF;
}